@import "layout/estilo-footer-general";
@import "layout/estilo-header-general";
@import "layout/estilo-main-screen320";
@import "layout/estilo-main-screen768";
@import "layout/estilo-main-screen1024";






/* RESET */
* {
    box-sizing: border-box;
  }
  


  html,
  body,
  div,
  section,
  figure,
  p,
  a,
  img,
  ul,
  li {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
  }






#carouselExampleControls{
  margin-bottom: 5rem;
}

h1{
  text-align: center;
}