@import "utilities/variable.scss";
@import "utilities/procesadores.scss";

// propiedades del header  
.menu-header {
  background-color: $colorsubbase1;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 5px 0 $colorbase;

  .navbar-div-row {
    padding: 0;
    margin: 0;
    background-color: $colorsubbase1;

    .navbar {
      padding: 0;
      margin: 0;
      background-color: $colorsubbase1;

      .navfluid {
        #navbarSupportedContent {
          .ulnav {
            .nav-item {
              padding: 5px;
              text-decoration: none;
              text-align: center;
              background-position-x: top;

              .nav-link {
                background-color: $colorsubbase1;
                color: $colorbase;

                .span-item {
                  border-radius: 50%;
                  padding: 0.8rem;
                  font: 1rem $fuentesecundario;

                  .spanCompra {
                    border-radius: 50%;
                    background-color: $colorsubbase1;
                    color: $colorbase;
                    font: 0.8rem $fuentesecundario;
                    -webkit-box-shadow: 7px 0 5px -3px $colorsubbase2;
                            box-shadow: 7px 0 5px -3px $colorsubbase2;
                    font-weight: bolder;

                    &:hover {
                      background-color: $colorsubbase1;
                      color: $colorbase;
                      box-shadow: 7px 0 5px -3px $colorsubbase2;
                    }
                  }

                  &:hover {
                    -webkit-box-shadow: -7px 0 5px -3px $colorsubbase2;
                    box-shadow: -7px 0 5px -3px $colorsubbase2;
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}

.main-index {

  @keyframes aparecer {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .estilo-imagen-producto {
    width: 18rem;
  }

  .card-title,
  .card-text {
    font-size: 1rem;
  }

  .img-info {
    width: 6rem;
  }

}