@import "utilities/variable.scss";
@import "utilities/procesadores.scss";
@media  screen and (max-width: 2000px){
// propiedades del footer
.footer-general {
  margin-top: 20px;
  box-shadow: 0 0 5px 0 black ;
    // background-image: linear-gradient(to bottom, #ffffff, #e1dffa, #bec0f5, #95a4f0, #6089ec);

    .div-footer {
      .div-contacto {
        
        .estilo-contacto {
           color: black;

          .estilo-text-h3 {
            font-size: 1.2rem;
            font-weight: bolder;
            padding: 0.5rem;
          }

          .estilo-p-telefono {
            font-size: 1rem;
            margin-left: 0.5rem;
          }

          .estilo-a-mail {
            font-size: 1rem;
             color: black ;
            text-decoration: none;
            margin-left: 0.5rem;
          }

          .estilo-p-direccion {
            font-size: 1rem;
            margin-left: 0.5rem;
          }
        }
      }

      .div_redes {
        .estilo-a-imagen-footer {
          text-decoration: none;
          .imagen-social{
            color: black;
            font-size:x-large;
            &:hover {
              transform: scale(5);
              color: rgb(89, 89, 89);
          }
          }
        }
      }

      .div-derechos {
        color: black;
        font-size: 1rem;

        .estilo-text-h4 {
          color: black;
          font-size: 1rem;
        }
      }
    }
  }
}

@media  screen and (max-width: 768px){
  // propiedades del footer
  .footer-general {
    margin-top: 20px;
    box-shadow: 0 0 5px 0 black ;
      // background-image: linear-gradient(to bottom, #ffffff, #e1dffa, #bec0f5, #95a4f0, #6089ec);
  
      .div-footer {
        .div-contacto {
          
          .estilo-contacto {
             color: black;
  
            .estilo-text-h3 {
              font-size: 1.2rem;
              font-weight: bolder;
              padding: 0.5rem;
            }
  
            .estilo-p-telefono {
              font-size: 1rem;
              margin-left: 0.5rem;
            }
  
            .estilo-a-mail {
              font-size: 1rem;
               color: black ;
              text-decoration: none;
              margin-left: 0.5rem;
            }
  
            .estilo-p-direccion {
              font-size: 1rem;
              margin-left: 0.5rem;
            }
          }
        }
  
        .div_redes {
          .estilo-a-imagen-footer {
            text-decoration: none;
            .imagen-social{
              color: black;
              font-size:x-large;
              &:hover {
                transform: scale(5);
                color: rgb(89, 89, 89);
            }
            }
          }
        }
  
        .div-derechos {
          color: black;
          font-size: 1rem;
  
          .estilo-text-h4 {
            color: black;
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
  // propiedades del footer
  .footer-general {
    margin-top: 20px;
    box-shadow: 0 0 5px 0 black ;

      .div-footer {
        .div-contacto {
          
          .estilo-contacto {
             color: black;
  
            .estilo-text-h3 {
              font-size: 0.9rem;
              font-weight: bolder;
              padding: 0.5rem;
            }
  
            .estilo-p-telefono {
              font-size: 0.7rem;
              margin-left: 0.5rem;
            }
  
            .estilo-a-mail {
              font-size: 0.7rem;
               color: black ;
              text-decoration: none;
              margin-left: 0.5rem;
            }
  
            .estilo-p-direccion {
              font-size: 0.7rem;
              margin-left: 0.5rem;
            }
          }
        }
  
        .div_redes {
          margin-top: 6px;
          text-align: end;
          .estilo-a-imagen-footer {
            text-decoration: none;
            font-size:medium;
              
            .imagen-social{
              margin-top: 5px;
              color: black;
              
              &:hover {
                transform: scale(5);
                color: rgb(89, 89, 89);
            }
            }
          }
        }
  
        .div-derechos {
          color: black;
          font-size: 0.7rem;
  
          .estilo-text-h4 {
            color: black;
            font-size: 0.7rem;
          }
        }
      }
    }
  }